:root {
    font: 100%/1 sans-serif;
    color: #484848;
    background: #f5f5f5;
}


html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
    padding: 2em;
}


.ToDoApp {
    margin: 0 auto;
    max-width: 480px;
}



.AddForm {
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ececec;
    border-radius: 2px;
    background: #fff;
}

    .AddForm-Input {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 1em;
        border: 0;
        border-bottom: 1px solid transparent;
        color: inherit;
        background: none;
        transition: .2s;
    }

        .AddForm-Input:focus {
            border-color: #1cb9ff;
            outline: 0;
        }

    .AddForm-Input::-webkit-input-placeholder {
        opacity: 1;
        color: #a0a0a0;
    }

    .AddForm-Input::-moz-placeholder {
        opacity: 1;
        color: #a0a0a0;
    }

    .AddForm-Input:-moz-placeholder {
        opacity: 1;
        color: #a0a0a0;
    }

    .AddForm-Input:-ms-input-placeholder {
        opacity: 1;
        color: #a0a0a0;
    }


.Filter {
    margin-bottom: 1em;
    padding: .5em;
    border: 1px solid #ececec;
    display: flex;
    flex-wrap: wrap;
    align-items: center;;
    justify-content: center;
    border-radius: 2px;
    color: #8c8c8c;
    background: #fff;
}

.FilterType {
    display: flex;
    align-items: flex-start;
    flex: 0 0 auto;
    padding: .5em;
    cursor: pointer;
    transition: .2s;
}

    .FilterType-Icon {
        position: relative;
        margin: .25em;
        flex: 0 0 auto;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        border: 2px solid;
        border-radius: 50%;
    }

        .FilterType-Icon:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            transform: scale(0);
            width:  6px;
            height: 6px;
            border-radius: inherit;
            background: currentColor;
            transition: .24s cubic-bezier(0.47, 0.34, 0.34, 1.77);;
        }

    .FilterType-Text {
        margin: .25em;
        flex: 1 1 0%;
    }

    .FilterType:hover {
        color: #484848;
    }

    .FilterType--Active {
        color: #484848;
    }

        .FilterType--Active .FilterType-Icon {
            /*background: #1cb9ff;*/
        }
            .FilterType--Active .FilterType-Icon:before {
                opacity: 1;
                transform: scale(1);
            }


.ToDoList {
    margin: 0;
    padding: 0.5em 0;
    max-height: 300px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid #ececec;
    border-radius: 2px;
    background: #fff;
}

    .ToDoList-Item {
        padding: 0.5em 1em;
        flex: 0 0 auto;
        transition: .3s;
    }

        .ToDoList-Item:hover {
            background: #f6f7f8;
        }

    .ToDoList:empty:before {
        content: 'List is empty';
        margin: auto;
        font-size: 14px;
        padding: 0.5em 1em;
        display: list-item;
        color: #a0a0a0;
    }


.Task {
    display: flex;
}

    .Task-StatusIcon {
        position: relative;
        flex: 0 0 auto;
        width:  22px;
        height: 22px;
        border: 1px solid;
        color: #d8d8d8;
        border-radius: 2px;
        cursor: pointer;
        transition: .3s;
    }

        .Task-StatusIcon:before {
            content: '';
        	position: absolute;
        	left:   8px;
        	bottom: 6px;
            opacity: 0;
        	transform: rotate(45deg) scale(0);
        	width: 5px;
        	height: 12px;
        	border-style: solid;
            border-color: #fff;
        	border-width: 0 1px 1px 0;
        	transition: .3s cubic-bezier(0.61, 0.46, 0.27, 1.82);
        }

        .Task-StatusIcon:hover {
            color: #a0a0a0;
        }

    .Task-Text {
        flex: 1 1 0%;
        padding: 3px 1em;
        font-size: 14px;
        line-height: 1.3;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    .Task-Delete {
        position: relative;
        width: 24px;
        height: 24px;
        flex: 0 0 auto;
        border: 0;
        color: #8c8c8c;
        background: none;
        cursor: pointer;
        transition: .2s;
    }

        .Task-Delete:hover {
            color: #ec3535;
        }

        .Task-Delete:before,
        .Task-Delete:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 16px;
            height: 1px;
            background: currentColor;
        }

        .Task-Delete:before {
            transform: rotate(45deg);
        }

        .Task-Delete:after {
            transform: rotate(-45deg);
        }

    .Task--Completed .Task-StatusIcon {
        border-color: transparent;
        background: #1cb9ff;
        color: #fff;
    }

        .Task--Completed .Task-StatusIcon:before {
            opacity: 1;
            transform: rotate(45deg) scale(1);
        }

    .Task--Completed .Task-Text {
        color: #a0a0a0;
        text-decoration: line-through;
    }
